{% extends 'core/template.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" href="{% static 'core/css/Crear.css' %}">
</head>

{% block contenido %}
<div class="cuerpo">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container" style="background-color: #272727e3;">
<form action="" method="post" style="color: beige ;">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
</div>

{% endblock %}