*{
    padding: 0;
    margin: 0;
    border: cadetblue;
}



.imagen {
    height: 420px;
}
.cuerpo {
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

#imagencuerpo {
 
    margin-right: 0%;
}
h1{
    margin: 0 10px 0 0;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
#contenidocuerpo {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 20px;
    background-color: rgba(65, 39, 15, 0.849);
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 0%;
}

#botoncomprar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(233, 181, 68);
    opacity: 95%;
    border-radius: 10px;
    width: 350px;
}

#botoncomprar>a {
    text-decoration: none;
    color: #ffffff;
}

@media(max-width: 1100px) {


    .cuerpo {
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 90%;
        padding-top: 20px;
    }

    #imagencuerpo {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 0px;
        margin-bottom: 20px;
        width: 70%;
    }

}